{%extends "base.html" %}

{% block title %}
  Search Fish
{% endblock %}

{% block body %}
  <h2> Search Fish </h2>
  {% if error %}
    <p style="color: red;">
      Please submit proper search.
    </p>
  {% endif %}

  <form action = "/search_fish" method="get">
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>

  {% if fish %}
    <p>  {{ fish|length}} fishes existing. </p>
    <table>
      {% for f in fish %}
        <tr><td> {{ f.name }} </td></tr>
      {% endfor %}
    </table>
  {% else %}
    <p> No fish configured. </p>
  {% endif %}

{% endblock %}
