{% extends "purchasing/stall.html" %}

{% block stall %}
  {% for stall in purchase_order.order%}
    <h5>Stall: {{stall.stall}}</h5>
    <button data-toggle="collapse" data-target="#demo{{stall.stall_id}}">Hide/Show Stall Order Details</button>
    <br><br>
    <div id="demo{{stall.stall_id}}" class="collapse in">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <td>Fish</td>
          <td>Quantity</td>
          <td>Weight</td>
          <td>Cost</td>
          <td>Status</td>
        </tr>
        {% for order_item in stall.order_item %}
          <tr>
            <form action = "/purchasing/{{user_id}}/stall/" method="post">
              <td>{{order_item.name}}</td>
              <td>{{order_item.value}}</td>
              <td><input type="tel" name="weight_{{order_item.id}}" {% if order_item.weight %} value="{{order_item.weight}}" {% endif %}></td>
              <td><input type="tel" name="cost_{{order_item.id}}" {% if order_item.cost %} value="{{order_item.cost}}" {% endif %}></td>
              <td>{{order_item.status}}</td>
              {% if request.user.is_superuser%}
                {% csrf_token %}
                <script>
                  $("input[name=weight_{{order_item.id}}]").change(function(){
                    $.post("/purchasing/{{user_id}}/stall/",
                    {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        order_item_id: "{{order_item.id}}",
                        weight: document.getElementsByName('weight_{{order_item.id}}')[0].value,
                        cost: document.getElementsByName('cost_{{order_item.id}}')[0].value,
                        save: 'Save'
                    },
                    function(data, status){
                      window.location.reload();
                    });
                  });
                  $("input[name=cost_{{order_item.id}}]").change(function(){
                    $.post("/purchasing/{{user_id}}/stall/",
                    {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        order_item_id: "{{order_item.id}}",
                        weight: document.getElementsByName('weight_{{order_item.id}}')[0].value,
                        cost: document.getElementsByName('cost_{{order_item.id}}')[0].value,
                        save: 'Save'
                    },
                    function(data, status){
                      window.location.reload();
                    });
                  });
                </script>
              {% endif %}
            </tr>
            <input type="text" name="order_item_id" value="{{order_item.id}}" hidden>
          </form>
        {% endfor %}
      </table>
    </div>
    <br>
  {% endfor %}

{% endblock %}
