{% extends "purchasing/home.html" %}
{% load static %}

{%block js%}
<script src="{% static 'js/tableHeadFixer.js' %}"></script>
{%endblock%}

{%block head%}
		<style>
			#parent {
				height: 675px;
			}

			#myTable {
				width: 350em !important;
				border-collapse: separate;
			}

			{#style for header#}
			th {
			    height: 50px;
					text-align: center;
					vertical-align: center;
					background-color: black;
					color: white;
			}

			{#style for header totals#}
			th:last-child, tr:nth-child(2) th:nth-last-child(3), tr:nth-child(2) th:nth-last-child(2) {
			    background-color: lightblue;
					color: black;
			}

			{#style for generic td#}
			td {
			    height: 25px;
			}

			{#style for content text alignment#}
			td:not(:first-child) {
					text-align: center;
					vertical-align: center;
			}

			{#style of the fish names#}
			td:first-child {
			    background-color: black;
					color: white;
			}

			{#style of the Add button and fish name field#}
			tr:last-child td:first-child, tr:nth-last-child(2) td:first-child  {
			    background-color: white;
					color: black;
			}

			{#style for totals#}
			td:last-child,  td:nth-last-child(2), td:nth-last-child(3), tr:not(:last-child) td:nth-last-child(4) {
			    background-color: lightblue;
					color: black;
			}

			{#style fix for new_fish row#}
			tr:nth-last-child(2) td:nth-last-child(4){
				background-color: white;
				color: black;
			}

		</style>
{%endblock%}

{% block purchasing_report %}
<div class="col-xs-12">
  <h3>Purchasing Report: </h3>
  <h4>Purchase Order: {{purchase_order_id}}</h4>
  <hr>
  <input type="button" name="print" value="Print">
  <script>
    $("input[name=print]").click(function(){
        $.post("/purchasing/{{user_id}}/print_purchasing/",
        {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            save: 'Print'
        },
        function(data, status){
          myWindow=window.open('','','width=750,height=500');
          myWindow.document.write(data);
          myWindow.focus();
        });
    });
  </script>
  <br><br>

  <div id="report_content">
    <div id="parent">
      <table id="myTable" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th  style="position: relative; z-index: 70;">Fish</th>
            {% for s in stall %}
              <th colspan="3" style="position: relative; z-index: 60;">{{s.description}}</th>
            {% endfor %}
            <th colspan="3" style="position: relative; z-index: 60;">Total</th>
          </tr>
					<tr align="center">
            <th bgcolor="black" style="position: relative; z-index: 60;"></th>
            {% for s in stall %}
							<th bgcolor="black" style="position: relative; z-index: 60;">Order</th>
							<th bgcolor="black" style="position: relative; z-index: 60;">Kg</th>
							<th bgcolor="black" style="position: relative; z-index: 60;">$</th>
            {% endfor %}
						<th>Order</th>
						<th>Kg</th>
						<th>$</th>
          </tr>
        </thead>

        <tbody>
          {% for fish in purchase_order %}
            <tr>
              <td style="position: relative; z-index: 50;">{{fish.name}} ({{fish.chinese_name}})</td>
							{% for value in fish.values %}
								{% csrf_token %}
									<td contenteditable style="z-index: 30;" id="quantity_{{value.stall}}_{{fish.id}}_{{value.order_item}}">{% if value.quantity %} {{value.quantity}} {%endif%}</td>
									<td contenteditable style="z-index: 30;" id="weight_{{value.stall}}_{{fish.id}}_{{value.order_item}}">{% if value.weight %} {{value.weight}} {%endif%}</td>
	                <td contenteditable style="z-index: 30;" id="cost_{{value.stall}}_{{fish.id}}_{{value.order_item}}">{% if value.cost %} {{value.cost}} {%endif%}</td>

                  <input type="text" name="order_item" value="{{value.order_item}}" hidden>
                  <script>
										var quantity_{{value.stall}}_{{fish.id}}_{{value.order_item}} = document.getElementById('quantity_{{value.stall}}_{{fish.id}}_{{value.order_item}}');
										var weight_{{value.stall}}_{{fish.id}}_{{value.order_item}} = document.getElementById('weight_{{value.stall}}_{{fish.id}}_{{value.order_item}}');
										var cost_{{value.stall}}_{{fish.id}}_{{value.order_item}} = document.getElementById('cost_{{value.stall}}_{{fish.id}}_{{value.order_item}}');

										quantity_{{value.stall}}_{{fish.id}}_{{value.order_item}}.addEventListener('blur', function(){
											var current_value = {{value.quantity}};
											var new_value = quantity_{{value.stall}}_{{fish.id}}_{{value.order_item}}.innerHTML;

											if (new_value == ''){
												new_value = 0
											}

											if (current_value != new_value) {
												$.post("/purchasing/{{user_id}}/purchasing/{{fish.id}}/",
	                      {
	                          csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
	                          stall_id: "{{value.stall}}",
	                          order_item_id: "{{value.order_item}}",
	                          key: "quantity",
	                          value: new_value,
	                          save: 'Save'
	                      },
												function(data, status){
													window.location.reload();
												});
											}
										});

										weight_{{value.stall}}_{{fish.id}}_{{value.order_item}}.addEventListener('blur', function(){
											var current_value = {{value.weight}};
											var new_value = weight_{{value.stall}}_{{fish.id}}_{{value.order_item}}.innerHTML;

											if (new_value == ''){
												new_value = 0
											}

											if (current_value != new_value) {
												$.post("/purchasing/{{user_id}}/purchasing/{{fish.id}}/",
	                      {
	                          csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
	                          stall_id: "{{value.stall}}",
	                          order_item_id: "{{value.order_item}}",
	                          key: "weight",
	                          value: new_value,
	                          save: 'Save'

	                      },
												function(data, status){
													window.location.reload();
												});
											}

										});

										cost_{{value.stall}}_{{fish.id}}_{{value.order_item}}.addEventListener('blur', function(){
											var current_value = {{value.cost}};
											var new_value = cost_{{value.stall}}_{{fish.id}}_{{value.order_item}}.innerHTML;

											if (new_value == ''){
												new_value = 0
											}

											if (current_value != new_value) {
												$.post("/purchasing/{{user_id}}/purchasing/{{fish.id}}/",
	                      {
	                          csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
	                          stall_id: "{{value.stall}}",
	                          order_item_id: "{{value.order_item}}",
	                          key: "cost",
	                          value: new_value,
	                          save: 'Save'

	                      },
												function(data, status){
													window.location.reload();
												});
											}
										});
                  </script>

              {% endfor %}

							<td> {% if fish.total.quantity %} {{fish.total.quantity}} {%endif%} </td>
							<td> {% if fish.total.weight %} {{fish.total.weight}} {%endif%} </td>
							<td contenteditable id="total_cost_{{fish.id}}"> {% if fish.total.cost %} {{fish.total.cost}} {%endif%} </td>

              <script>
								var total_cost_{{fish.id}} = document.getElementById('total_cost_{{fish.id}}');
								total_cost_{{fish.id}}.addEventListener('blur', function(){
									var current_value = {{fish.total.cost}};
									var new_value = total_cost_{{fish.id}}.innerHTML;

									if (new_value == ''){
										new_value = 0
									}

									if (current_value != new_value) {
										$.post("/purchasing/{{user_id}}/purchasing/{{fish.id}}/",
										{
											csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
											key: "total_cost",
											value: total_cost_{{fish.id}}.innerHTML,
											save: 'Save'
										},
										function(data, status){
											window.location.reload();
										});
									}
								});
              </script>
            </tr>
          {% endfor %}

					<tr id="new_fish" style="display:none;">
						{#<td contenteditable><div id="fish_name">Enter Fish name</div></td>#}
						<td contenteditable id="fish_name">Enter Fish name</td>

            <script>
							var fish_name = document.getElementById('fish_name');
							fish_name.addEventListener('blur', function(){

								$.post("/purchasing/{{user_id}}/add_fish/{{purchase_order_id}}/",
	              {
	                  csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
	                  fish_name: fish_name.innerHTML,
	                  save: 'Save'

	              },
	              function(data, status){
	                window.location.reload();
	              });
	            });
            </script>

						{% for s in stall %}
	            <td></td><td></td><td></td>
          	{% endfor %}
						<td></td><td></td><td></td>
          </tr>

          <tr>
            <td>
							<input type="submit" id="add" name="add" value="Add">
              <script>
              $('#add').click(function() {
                var result_style1 = document.getElementById('new_fish').style;
                result_style1.display = 'table-row';
              });
              </script>
            </td>
            {% for s in stall %}
            	<td></td><td></td><td></td>
            {% endfor %}
            <td></td><td></td><td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    function printDiv(divName) {
       var printContents = document.getElementById(divName).innerHTML;
       var originalContents = document.body.innerHTML;
       document.body.innerHTML = printContents;
       window.print();
       document.body.innerHTML = originalContents;
    }
  </script>

  <script>
    $("#myTable").tableHeadFixer({'head' : true, 'left' : 1});
  </script>

</div>
{% endblock %}
