{% extends "order/home.html" %}

{%block head%}
  <style>
    .table-fit {
      width: 1px;
    }
  </style>
{%endblock%}

{% block order %}
  <form action = "/order/{{user_id}}/order/{{order.order.id}}/" method="post">
    <br>
    <h3>Stall: {{ stall.description }}</h3>
    <h4>Order: {{ order.order.id }} | Status: {{ order.order.status }}</h4>
    <h4>Date: {{ order.order.created_date|date:"F d, Y l" }}</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-fit">
          <tr>
            <td>Fish</td>
            <td>Quantity</td>
            <td>Status</td>
          </tr>
          {% for order_item in order.order_item %}
            <tr>
              <td>{{ order_item.name }}</td>
              <td><input type="tel" name="quantity-{{order_item.id}}" {% if order_item.value %} value="{{order_item.value}}" {%endif%} {% if order.order.status != 'New' %} disabled {% endif %}></td>
              <td>{{ order_item.status }}</td>
              <script>
                $("input[name=quantity-{{order_item.id}}]").change(function(){
                  $.post("/order/{{user_id}}/order/{{order.order.id}}/",
                  {
                      csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                      stall_id: "{{stall.id}}",
                      order_id: "{{order.order.id}}",
                      order_item_id: "{{order_item.id}}",
                      key: "quantity",
                      value: document.getElementsByName('quantity-{{order_item.id}}')[0].value,
                      submit: 'Save'
                  });
                });
              </script>
            </tr>
          {% endfor %}
        </table>
      </div>

      <br>
      {% csrf_token %}
      <input type="text" name="stall_id" value="{{stall.id}}" hidden>
      <input type="text" name="order_id" value="{{order.order.id}}" hidden>

    <br>
  </form>

{% endblock %}
